

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #ff7300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#calcBody{
    min-height: 44vh;
    min-width: 260px;
    background-color: #003c66;
    margin-top: 250px;
    flex-direction: row;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    box-shadow: 10px 10px 10px;
    border: #e6f4ff 1px solid;
}

#display{
    overflow: hidden;
    min-height: 70px;
    min-width: 214px;
    max-width: 214px;
    max-height: 70px;
    flex-wrap: nowrap;
    flex-grow: 0;
    margin-top: 20px;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 5px;
}
#row1 #clear,
#row1 #CE{
    font-size: 18px;
    
}

#rows button{
    min-height: 50px;
    min-width: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 2px;
    background-color: #cceaff;
    color: #001e33;;
    
}
#rows{
    row-gap: 5px;
}
#display{
    background-color: #e6e7e8;
    color: #001e33;
    font-size: 40px;
    text-align: right;  
}

#row5 .equal{
    background-color: rgb(82, 219, 100);
    width: 104px;
}

#row1 #clear{
    background-color: rgb(236, 56, 56);
    color: #e6e7e8;
    width: 104px;
}

#row1 #CE{
    background-color: #99d5ff;
}

#displayValue{
    overflow: hidden;
    padding-top: 20px;
}

#clear{
    
    border: #99d5ff;
    transition: 0.1s;
}

#clear:hover{
    border: #ff7300 2px solid;
    font-size: 28px;
    font-weight: 900;
}

button{
    border: #99d5ff 2px solid;
    transition: 0.1s;
}

button:hover{
    border: #ff7300 2px solid;
}

#rows .operand{
    border: none;
    background-color: #ff9d4d;
    transition: 0.1s;
    color: white
}

#rows .operand:hover{
    border: #99d5ff 2px solid;
}


#footer{
    justify-content: center;
    align-items: center;
    gap: 150px;
    display: flex;
    color: #99d5ff;
    padding: 0;
    margin: 0;
    background-color: #000f19;
    min-height: 50px;
    width: 100%;
    border-top: 2px #4db5ff solid;
}

#author{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
